@import "reset.css";

body {
  font-family: Arial;
  
  background: #232323;
  color: white;
}


.title-container {
	text-align: center;
}
.title-container h1 {
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
}
